#!/usr/bin/env python
PACKAGE = "workshop"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add('speed',              double_t,  0, 'Speed',       0.0,   -2,    2)

gen.add('enable',             bool_t,    0, 'Enable',        False)
gen.add('crosswalk',          bool_t,    0, 'Crosswalk',     False)
gen.add('barrel_vision',      bool_t,    0, 'Barrel Vision', False)
gen.add('barrel_lidar',       bool_t,    0, 'Barrel Lidar',  False)
gen.add('line_follow',        bool_t,    0, 'Line Follow',   False)

gen.add('barrel_x',           double_t,  0, 'Barrel X Pos',   0.0, -4.0,  4.0)
gen.add('barrel_y',           double_t,  0, 'Barrel Y Pos',   0.0,  0.0, 20.0)
gen.add('barrel_rad',         double_t,  0, 'Barrel Radius',  0.0,  0.0,  1.0)

exit(gen.generate(PACKAGE, "workshop", "AutoDriveDynCfg"))
