<launch>

   <!-- DBW system -->
   <arg name="sys" default="false"/>
   <group if="$(arg sys)">
     <include file="$(find dbw_polaris_can)/launch/dbw.launch" />

     <!-- Set vehicle flag -->
     <param name="vehicle_flag" value="True" />

     <!-- Launch the Webcam camera node
     <include file="$(find simple_camera_publisher)/launch/camera_publisher.launch">
       <arg name="source" default="/dev/v4l/by-id/usb-046d_0809_95B32CCC-video-index0"/>
     </include>
      -->

     <!-- Launch the camera node -->
     <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
        <arg name="ip" value="192.168.0.40" />
        <arg name="guid" value="50-0536910784" />
        <arg name="frame_id" value="" />
        <arg name="acquisition_mode" value="Continuous" />
        <arg name="acquisition_rate" value="14.98" />
        <arg name="exposure" value="4000" />
        <arg name="exposure_auto" value="" />
        <arg name="gain" value="24" />
        <arg name="gain_auto" value="Continuous" />
        <arg name="height" value="770" />
        <arg name="width" value="1030" />
        <arg name="pixel_format" value="RGB8Packed" />
        <arg name="whitebalance_auto" value="Continuous" />
        <arg name="binning_x" value="2" />
       <arg name="decimation_y" value="2" />
     </include>

     <!-- Launch Lidar Node -->
     <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

     <!-- Load dynamic reconfigure -->
     <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_console" args="-t"/>

   </group>

   <!-- Simulation system -->
   <group unless="$(arg sys)">
     <!-- Set vehicle flag -->
     <param name="vehicle_flag" value="False" />

      <!-- Load map -->
      <param name="map_dir" value="$(find simple_sim_atrium)/map" />
      <rosparam command="load" file="$(find simple_sim_atrium)/map/atrium.yaml" />
      <rosparam command="load" file="$(find simple_sim_atrium)/map/atrium_obstacles.yaml" />

      <!-- Load robot -->
      <rosparam command="load" file="$(find simple_sim_atrium)/robot/ACTor.yaml" />

      <include file="$(find simple_sim)/launch/simple_sim.launch">
        <arg name="show_rviz" value="false" />
        <arg name="show_kb_teleop" value="false" />
        <arg name="show_steering" default="false" />
      </include>

      <!-- Dynamic Reconfigure -->
      <node name="dynamic_reconfigure_simple_sim" pkg="dynamic_reconfigure" type="dynparam" args="load /simple_sim_node $(find simple_sim_atrium)/robot/ACTor_simple_sim_params.yaml" />
   </group>
  
   <!-- Launch router node -->
   <node pkg="workshop" type="router.py" name="router_node" output="screen" />

   <!-- Launch auto drive node -->
   <node pkg="workshop" type="auto_drive.py" name="auto_drive_node" output="screen" />  

   <!-- Launch crosswalk detector node -->
   <node pkg="workshop" type="crosswalk_detector.py" name="crosswalk_detector_node" output="screen" />
   <node name="dynamic_reconfigure_crosswalk" pkg="dynamic_reconfigure" type="dynparam" args="load /crosswalk_detector_node $(find workshop)/params/crosswalk_detector.yaml"/>

   <!-- Launch barrel vision detector node -->
   <node pkg="workshop" type="barrel_detector_vision.py" name="barrel_detector_vision_node" output="screen" />
   <node name="dynamic_reconfigure_barrel" pkg="dynamic_reconfigure" type="dynparam" args="load /barrel_detector_vision_node $(find workshop)/params/barrel_detector_vision.yaml"/>

   <!-- Launch barrel lidar detector node -->
   <node pkg="workshop" type="barrel_detector_lidar.py" name="barrel_detector_lidar_node" output="screen" />
   <node name="dynamic_reconfigure_barrel2" pkg="dynamic_reconfigure" type="dynparam" args="load /barrel_detector_lidar_node $(find workshop)/params/barrel_detector_lidar.yaml"/>

   <!-- Launch line follow node -->
   <node pkg="workshop" type="line_follow.py" name="line_follow_node" output="screen" />
   <node name="dynamic_reconfigure_line" pkg="dynamic_reconfigure" type="dynparam" args="load /line_follow_node $(find workshop)/params/line_follow.yaml"/>


</launch>
